h1,h2,h3,h4,h5,h6{
  color: #495C78;
}

#header-section{
  background: url('../img/background_header.png')no-repeat center top;
  background-size:cover;
}

.ms-general-padding{
  padding: 130px 70px;
}

.ms-logo-jako{
  position: relative;
  bottom:60px;
}

.ms-logo-jako img{
  width: 130px;
}

#ms-notice{
  width: 400px;
  height: auto;
  background: #26303F;
  border-radius: 50px;
  padding: 2px 20px;
  position: relative;
  left: 300px;
  bottom: -340px;
  box-shadow: -webkit-box-shadow: -1px 4px 64px 4px rgba(138,138,138,1);
    -moz-box-shadow: -1px 4px 64px 4px rgba(138,138,138,1);
    box-shadow: -1px 4px 64px 4px rgba(138,138,138,1);
}


#ms-content-notice{
 color:white;
 margin-left:10px;
}

#ms-notice-title{
  width: 40px;
  height: auto;
  background:white;
  color:#26303F!important;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0 7px;
  font-weight: bold;
}

#ms-image-header{
  width: 100%;
}

#ms-image-header img{
  position: relative;
  top: 100px;
  right: 50px;
  width: 600px;
}

#ms-header-title{
  position: relative;
  top: 420px;
  color: #495C78;
  letter-spacing: 0.2em;
  text-align: right;
  font-weight: bold;
}

.ms-feather-animated-1{
  position: absolute;
  top: 0;
  left: 230px;
}

.ms-feather-animated-2{
  position: absolute;
  left: -90px;
}

.ms-feather-animated-3{
  position: absolute;
  top: 160px;
  right: 120px;
}

.ms-bird-animated-1{
  position: absolute;
  bottom: 10px;
  right: -190px;
}

.ms-bird-animated-2{
  position: absolute;
  top: 100px;
  right: -400px;
}

#ms-second-section{
  background-color:#EEEEEE;
}

#ms-display-calling{
  float: left;
  width: 100%;
  padding: 60px 20px;
  background: white;
  border:5px solid #DDDDDD;
  border-radius:7px;
}

.ms-display-calling-image{
  float: left;
  width: 48%;
  opacity: 0.5;
  transition: 2s ease;
}

.ms-display-calling-image:hover{
  opacity: 1;
  transform: scale(1.2);
}

#second-image-callind{
  margin-left: 20px;
}

.ms-display-calling-image img{
  width: 100%;
}

#ms-display-calling-menu{
  clear: both;
}

.ms-display-calling-menu img{
    width: 50%;
    margin: 0 auto;
    display: table;
}

#logo-videoconference-meeting{
  position: relative;
  top: 30px;
  width: 100px;
}

.subtitle{
  color:#4f4fd6;
  font-weight: bold;
  font-size:19px;
  letter-spacing: 0.2em;
}

ul#ms-audience{
  list-style-type: none;
  padding: 0;
}

ul#ms-audience li{
  color:gray;
  font-size:17px;
}

ul#ms-audience li i{
  margin-right: 10px;
}

#ms-right-column-second-section{
  padding: 80px 0;
}

.ms-large-p{
  font-size:20px;
  color:#777777;
}

#check-list-work{
  list-style-type: none;
  padding: 0;
}

#ms-image-third-section img{
  width: 100%;
}

#video-section{
  background: url('../img/background_second_section.png')no-repeat center top;
  background-size:cover;
}

#video-container{
  text-align: center;
  margin:0 auto;
  display: table;
}

#video-container h2{
  margin-bottom: 40px;
}

#video-container iframe{
  border:9px solid #DDDDDD;
  -webkit-box-shadow: -1px -3px 64px 4px rgba(160,191,186,1);
  -moz-box-shadow: -1px -3px 64px 4px rgba(160,191,186,1);
  box-shadow: -1px -3px 64px 4px rgba(160,191,186,1);
}

#ms-container-img-four-section img{
  width: 100%;
}







