#header-section{
  padding: 130px 70px;
  background: url('../img/background_header.png')no-repeat center top;
  background-size:cover;
}

.ms-logo-jako{
  position: relative;
  bottom:60px;
}

.ms-logo-jako img{
  width: 130px;
}

#ms-notice{
  width: 400px;
  height: auto;
  background: #26303F;
  border-radius: 50px;
  padding: 2px 20px;
  position: relative;
  left: 300px;
  bottom: -340px;
  box-shadow: -webkit-box-shadow: -1px 4px 64px 4px rgba(138,138,138,1);
    -moz-box-shadow: -1px 4px 64px 4px rgba(138,138,138,1);
    box-shadow: -1px 4px 64px 4px rgba(138,138,138,1);
}


#ms-content-notice{
 color:white;
 margin-left:10px;
}

#ms-notice-title{
  width: 40px;
  height: auto;
  background:white;
  color:#26303F!important;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0 7px;
  font-weight: bold;
}

#ms-image-header{
  width: 100%;
}

#ms-image-header img{
  position: relative;
  top: 100px;
  right: 50px;
  width: 600px;
}

#ms-header-title{
  position: relative;
  top: 420px;
  color: #495C78;
  letter-spacing: 0.2em;
  text-align: right;
  font-weight: bold;
}

.ms-feather-animated-1{
  position: absolute;
  top: 0;
  left: 230px;
}

.ms-feather-animated-2{
  position: absolute;
  left: -90px;
}

.ms-feather-animated-3{
  position: absolute;
  top: 160px;
  right: 120px;
}

.ms-bird-animated-1{
  position: absolute;
  bottom: 10px;
  right: -190px;
}
